// Colors
$base-color: #F1F5F9;
$light-base-color: #F9FAFB;
$grey-color: #94A3B8;
$primary-green-color: #0E7490;
$light-green-color: #CFFAFE;
$primary-dark-color: #334155;

// Sizes
$sm: 540px;
$md: 720px;
$lg: 960px;
$xl: 1140px; 